.MuiPickersStaticWrapper-staticWrapperRoot {
  display: flex;
  overflow: hidden;
  min-width: 310px;
  flex-direction: column;
  background-color: #fff;
  width: -webkit-fill-available;
}

.MuiPickersBasePicker-pickerViews {
  display: flex;
  max-width: -webkit-fill-available;
  min-width: 310px;
  min-height: 305px;
  overflow-x: hidden;
  flex-direction: column;
  justify-content: center;
}